* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  margin: auto;
  height: 100vh;
  background: rgb(127, 126, 230);
}

.btn {
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  font-size: large;
}

.container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-color: brown;
}